{{yield}}
<h3>Strains Grown By: {{grower.name}} in {{grower.location}}, {{grower.grow}}</h3>
<hr>

{{#each grower.strains as |strain|}}
{{strain-tile strain=strain destroyStrain="destroyStrain"}}
{{update-strain updateStrain="updateStrain"  strain=strain }}<hr>
{{/each}}
