{{grower.name}}
{{#if addNewStrain}}
<h1>New Strain</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>
      <div class="form-group">
        <label for="thc">THC</label>
        {{input value=thc id="thc"}}
      </div>
      <div class="form-group">
        <label for="cbd">CBD</label>
        {{input value=cbd id="cbd"}}
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        {{input type="number" value=price id="price"}}
      </div>
      <div class="form-group">
        <label for="image">image</label>
        {{input value=image id="image"}}
      </div>
      <button class="btn btn-success btn-xl"{{action 'saveStrain' grower}}>New Strain</button>
    </form>
  </div>
  {{else}}
  <button class="btn btn-success btn-xl"{{action 'strainFormShow'}}>New Strain</button>
{{/if}}
