
{{#if addNewReview}}
<h1>Give {{grower.name}} a review</h1>
<div>
  <form>
    <label for="rating">Rating:</label>
{{#x-select value=rating}}
  {{#x-option value='1'}}&bigstar;{{/x-option}}
  {{#x-option value='2'}}&bigstar; &bigstar;{{/x-option}}
  {{#x-option value='3'}}&bigstar; &bigstar; &bigstar;{{/x-option}}
  {{#x-option value='4'}}&bigstar; &bigstar; &bigstar; &bigstar;{{/x-option}}
  {{#x-option value='5'}}&bigstar; &bigstar; &bigstar; &bigstar; &bigstar;{{/x-option}}
{{/x-select}}
    <div class="form-group">
      <label for="name">Name:</label>
      {{input value=name id="name"}}
    </div>
    <div class="form-group">
      <label for="review">Review:</label>
      {{textarea value=review id="review"}}
    </div>
    <button class="btn btn-success btn-md" {{action 'sendReview' grower}}>Rate!</button>
  </form>
</div>
{{else}}
<button {{action 'growerReviewShow'}}>Rate Grower</button>
{{/if}}
