{{yield}}
{{#if updateStrainForm}}
<h1>Update {{strain.name}}</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name" placeholder=strain.name}}
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type" placeholder=strain.type}}
      </div>
      <div class="form-group">
        <label for="thc">THC</label>
        {{input value=thc id="thc" placeholder=strain.thc}}
      </div>
      <div class="form-group">
        <label for="cbd">CBD</label>
        {{input value=cbd id="cbd" placeholder=strain.cbd}}
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        {{input value=price id="price" placeholder=strain.price}}
      </div>
      <div class="form-group">
        <label for="image">image</label>
        {{input value=image id="image" placeholder=strain.image}}
      </div>
      <button class="btn btn-success btn-xl"{{action 'update' strain}}>Update Strain</button>
    </form>
  </div>
  {{else}}
  <button class="btn btn-success btn-xl"{{action 'strainFormShow'}}>Update Strain</button>
{{/if}}
