<li>{{new-grower saveGrower="saveGrower"}}</li>
<h2>Growers:</h2>
<ul>
  {{#each model.growers as |grower|}}
  {{grower-tile grower=grower destroyGrower="destroyGrower"}}
  {{update-grower updateGrower="updateGrower" grower=grower}}
  {{/each}}
</ul>


<h2>Strains Available:</h2>
<ul>
  {{#each model.strains as |strain|}}
  <li>{{#link-to 'strain' strain.id}}{{strain.name}}{{/link-to}} - {{strain.type}} -THC- {{strain.thc}}% -CBD- {{strain.cbd}}% --Price: ${{strain.price}} </li>
  <button {{action 'addToCart' strain}}>Add To CannCart</button>
  {{/each}}
</ul>

{{display-cart}}
